:root {
  --color-size-m: 60px;
  --color-size-s: 40px;
}

body{
  display: flex;
  flex-direction: row;
  position: relative;
}

#colorMatrix {
  width: 50%;
  height: 100%;
  display: flex;
  flex-wrap: wrap;
}
#colorTheory {
  width: 50%;
  height: 100vh;
  display: flex;
  flex-direction: column;
  position: sticky;
  top: 0;
  right: 0;
  gap: 1rem;
}

.color {
  width: var(--color-size-m);
  height: var(--color-size-m);
  border-radius: 50%;
  margin: .5rem;
}

.colorStrip {
  display: flex;
  flex-direction: row;
  height: 100px;
}

.colorDiv{
  height: 100%;
}

@media only screen and (max-width: 600px) {
  #colorTheory {
    gap: 0;
  }
  .color {
    width: var(--color-size-s);
    height: var(--color-size-s);
  }
}